
 /* universal sleector m margin 0 lia taki by deefault pg k side 
 jo spcing ati h voh hat jati h  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    width:100px;
    height:100px;
    border:10px solid rgb(7, 55, 67);
    padding: 10px;
    /* padding is space btw the txt  and the border*/

    /* top/bottom   left/right*/
     padding: 10px 50px ;
    /* padding top right bottom left */
    padding: 10px 30px  60px  80px;
    padding-top: 20px;
    padding-right: 40px;
    
 margin: 10px;
   
     margin: 10px 50px ;
    /* margin top right bottom left */
 margin: 10px 30px  60px  80px;
 margin-top: 20px;
 margin-right: 40px;
    /* if we want space btw 2 element we use margin */
  /* margin is space around the element */
  margin: 40px;
}